<div class="container mt-4">
  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let entry of myList; let i = index">
      <app-anime-card
        [anime]="entry.anime"
        [inMyList]="true"
        [status]="entry.status"
        (remove)="removeFromList(entry.anime)"
        (editStatus)="editStatus(entry.anime)"
      ></app-anime-card>
    </div>
  </div>
</div>

<app-anime-list-modal
  [show]="showModal"
  [anime]="modalAnime"
  [action]="modalAction"
  [currentStatus]="modalStatus"
  [statusOptions]="statusOptions"
  (confirm)="handleModalConfirm($event)"
  (cancel)="closeModal()"
></app-anime-list-modal>
