<div class="container mt-4">
  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let anime of topAnime; let i = index">
      <app-anime-card
        [anime]="anime"
        [index]="(currentPage - 1) * perPage + i"
        [showRanking]="true"
        [showReleaseDate]="false"
        [inMyList]="isInMyList(anime)"
        [status]="getStatus(anime)"
        (add)="confirmToggleAnime(anime)"
        (remove)="confirmToggleAnime(anime)"
        (editStatus)="editStatus(anime)"
      ></app-anime-card>
    </div>
  </div>
</div>

<nav *ngIf="totalPages > 1">
  <ul class="pagination justify-content-center">
    <li class="page-item" [class.disabled]="currentPage === 1">
      <button class="page-link" (click)="loadTopAnime(currentPage - 1)">Previous</button>
    </li>
    <li class="page-item disabled">
      <span class="page-link">
        Page {{ currentPage }} of {{ totalPages }}
      </span>
    </li>
    <li class="page-item" [class.disabled]="currentPage === totalPages">
      <button class="page-link" (click)="loadTopAnime(currentPage + 1)">Next</button>
    </li>
  </ul>
</nav>

<app-anime-list-modal
  [show]="showModal"
  [anime]="modalAnime"
  [action]="modalAction"
  [currentStatus]="modalStatus"
  [statusOptions]="statusOptions"
  (confirm)="handleModalConfirm($event)"
  (cancel)="closeModal()"
></app-anime-list-modal>
